### 병무청_모집병 군지원 접수현황
- https://www.data.go.kr/tcs/dss/selectApiDataDetailView.do?publicDataPk=15031295

In [1]:
import pandas as pd

### 컬럼 정보

1. extremes : '접수-선발인원(과부족)'
2. gsteukgiCd : '군사특기코드'
3. gsteukgiNm : '군사특기명'
4. gunGbnm : '군구분코드명'
5. iybudaeCdm : '입영부대명'
6. iyyjjongryoYm : '입영종료월'
7. iyyjsijakYm : '입영시작월'
8. jeopsuJrdtm : '접수종료일자'
9. jeopsuPcnt : '접수인원수'
10. jeopsuSjdtm : '접수시작일'
11. mojipGbnm : '모집구분명'
12. mojipTms : '모집회차'
13. mojipYy : '모집년도'
14. rate : '지원률'
15. rnum : '데이터번호'
16. seonbalPcnt : '선발인원수'

### 24-05-24 데이터

In [2]:
df = pd.read_csv('soldier.csv')
df.head()

,Unnamed: 0,extremes,gsteukgiCd,gsteukgiNm,gunGbnm,iybudaeCdm,iyyjjongryoYm,iyyjsijakYm,jeopsuJrdtm,jeopsuPcnt,jeopsuSjdtm,mojipGbnm,mojipTms,mojipYy,rate,rnum,seonbalPcnt
0,0,29,43,기관,해군,해군교육사령부,202405,202405,20240227,59,20240220,일반기술/전문기술병,102,2024,2.0,1,30
1,1,501,11,일반,해군,해군교육사령부,202405,202405,20240227,601,20240220,일반기술/전문기술병,102,2024,6.0,2,100
2,2,32,11.05,조리,해군,해군교육사령부,202405,202405,20240227,62,20240220,일반기술/전문기술병,102,2024,2.1,3,30
3,3,52,803,동반_군사경찰,해군,해군교육사령부,202405,202405,20240227,62,20240220,동반입대병,102,2024,6.2,4,10
4,4,28,B11,(2함대)일반,해군,해군교육사령부,202405,202405,20240227,78,20240220,복무지역선택병,102,2024,1.6,5,50

In [32]:
df[['gunGbnm', 'extremes']]

    gunGbnm  extremes
0        해군        29
1        해군       501
2        해군        32
3        해군        52
4        해군        28
..      ...       ...
959      육군       266
960      육군       104
961      육군        68
962      육군        38
963      육군       160

[964 rows x 2 columns]

In [4]:
df['iyyjsijakYm'] = pd.to_datetime(df['iyyjsijakYm'], format=('%Y%m'))
df['month'] = df['iyyjsijakYm'].dt.month

bar_df = df.groupby(['month','gunGbnm'])['extremes'].agg('count').reset_index()
bar_df

    month gunGbnm  extremes
0       5      공군        24
1       5      육군       125
2       5      해군        52
3       5      해병         9
4       6      육군       101
5       6      해군        54
6       6      해병        14
7       7      공군        24
8       7      육군       144
9       7      해군        43
10      7      해병        14
11      8      공군        21
12      8      육군       113
13      8      해군        33
14      8      해병         9
15      9      공군        22
16      9      육군       115
17      9      해군        33
18      9      해병         9
19     10      육군         4
20     11      육군         1

In [5]:
df.groupby(['iyyjsijakYm', 'gunGbnm'])['rate'].mean().reset_index()

   iyyjsijakYm gunGbnm      rate
0   2024-05-01      공군  7.578261
1   2024-05-01      육군  4.779200
2   2024-05-01      해군  1.955769
3   2024-05-01      해병  3.188889
4   2024-06-01      육군  3.736634
5   2024-06-01      해군  1.390741
6   2024-06-01      해병  2.042857
7   2024-07-01      공군  6.154167
8   2024-07-01      육군  4.611111
9   2024-07-01      해군  1.330233
10  2024-07-01      해병  2.014286
11  2024-08-01      공군  4.666667
12  2024-08-01      육군  2.900885
13  2024-08-01      해군  1.600000
14  2024-08-01      해병  1.877778
15  2024-09-01      공군  0.000000
16  2024-09-01      육군  0.044348
17  2024-09-01      해군  0.000000
18  2024-09-01      해병  0.000000
19  2024-10-01      육군  1.875000
20  2024-11-01      육군  0.000000
21  2025-05-01      공군  2.000000

In [6]:
# 선발 인원 접수 인원
df[['seonbalPcnt', 'jeopsuPcnt']]

     seonbalPcnt  jeopsuPcnt
0             30          59
1            100         601
2             30          62
3             10          62
4             50          78
..           ...         ...
959           40         306
960          144         248
961           96         164
962           42          80
963           86         246

[964 rows x 2 columns]

In [7]:
df.groupby(['month','gunGbnm'])['extremes'].agg('sum')

month  gunGbnm
5      공군          8976
       육군         15181
       해군          1528
       해병           993
6      육군          8263
       해군            66
       해병           506
7      공군          6089
       육군          7821
       해군           281
       해병           517
8      공군          5236
       육군          3111
       해군           289
       해병          -109
9      공군         -1594
       육군         -5204
       해군          -500
       해병         -1000
10     육군           -87
11     육군            -8
Name: extremes, dtype: int64

In [8]:
list(df.groupby('gunGbnm')['extremes'].sum())

[18707, 29077, 1664, 907]

In [9]:
df.groupby(['month', 'gunGbnm'])['extremes'].count()

month  gunGbnm
5      공군          24
       육군         125
       해군          52
       해병           9
6      육군         101
       해군          54
       해병          14
7      공군          24
       육군         144
       해군          43
       해병          14
8      공군          21
       육군         113
       해군          33
       해병           9
9      공군          22
       육군         115
       해군          33
       해병           9
10     육군           4
11     육군           1
Name: extremes, dtype: int64

In [10]:
# 접수 선발인원(과부족)
df['extremes'].unique()

array([   29,   501,    32,    52,    28,    -2,    -1,     0,   -13,
          16,     6,     4,    22,   253,    74,    72,   133,   130,
           7,   169,    82,    21,   643,   189,   187,    17,    48,
           9,   -11,    58,   186,    -4,    23,   298,    20,   -15,
          34,    -6,    30,    15,    35,     5,   -89,    11,    13,
          59,    10,    39,   286,    88,  1044,    37,    47,    26,
           8,    51,   159,    62,    -8,    25,     3,     1,   119,
          45,   116,    96,   -25,    -9,    41,    14,    24,    33,
          81,    36,   -76,   -18,  -199,   -70,   -87,   -41,   -27,
          -3,   -43,    -7,   -56,    -5,   -10,   -71,   -97,   -82,
         -12,   -40,  -176,   -46,   -62,  -223, -1400,   -28,   -20,
         -34,   -31,   -26,   -79,   -42,   -44,   -22,   -19,   -24,
         -58,   -37,   -16,    65,    19,    18,     2,   453,   144,
         382,   419,   290,   148,   124,   233,   170,   605,   -47,
          83,    42,    46,   147,   512,  -136,   -14,    43,   192,
         207,   191,    38,  3163,   438,    85,   225,   155,   100,
         885,    93,   573,    12,   136,   150,   452,  1726,   165,
         167,   108,  5123,    66,   732,    40,    27,   161,   267,
          56,   129,   258,   112,   141,    98,    99,   145,   128,
         301,   135,   332,   421,    44,   127,    70,   118,   103,
         553,    86,    49,   405,    54,   115,   281,   426,   120,
         215,   206,   311,    63,   532,  2758,   202,   778,   208,
         226,  -110,    75,   -30,   -51,   -29,   -45,   -21,   -88,
         392,   563,    31,   114,   220,    69,   152,   -63,   282,
         -39,    89,    87,    92,   110,   254,   122,    91,    55,
         234,   288,   223,    71,    73,  1512,   166,   306,   158,
          53,    77,   125,   297,   219,   238,   941,   262,   -33,
        -105,   -55,    57,   185,    60,   -17,   -35,  -155,  -622,
        -106,  -256,   -92,   -38,   -96,  -100,   -84,  -103,  -768,
        -246,  -259,   -32,  -131,   -60,  -138,  3430,   221,  1199,
         151,   123,   469,   -23,   248,   178,   149,   102,   203,
         142,   236,   104,   266,    68,   160], dtype=int64)

In [11]:
# 군사특기 코드
df['gsteukgiCd'].unique()

array(['43', '11', '11.05', '803', 'B11', 'B43', 'A11.05', 'A43',
       'B11.05', 'A11', '900101', '311334', '471277', '471278', '471279',
       '175104', '321102', 'A001', '141.101', '171.102', '171.104',
       '172.101', '175.102', '225.101', '226.101', '241.100', '243.101',
       '321.101', '131.107', '132.102', '133.106', '141.103', '141.105',
       '163.107', '172.102', '211.103', '221.102', '222.102', '241.107',
       'M161.104', 'M241.104', 'M241.107', 'M243.102', '412.105',
       '132.103', '162.102', '163.114', '231.102', '241.108', 'M224.104',
       '412.101', '412.104', '133.103', '153.101', '163.108', '163.113',
       '211.102', '222.101', '224.104', '242.101', '411.101', '412.102',
       '141.107', '162.104', '211.101', '223.103', '411.103', '152.101',
       '123.101', '143.101', '151.101', '163.104', '171.107', '174.101',
       '175.103', '181.101', '241.104', '241.106', 'M162.104', 'M241.105',
       'M241.109', '412.103', '131.104', '131.106', '171.101', '224.106',
       '231.101', '231.107', '241.109', 'M163.113', 'M231.107',
       'M241.100', '412.106', '152.103', '161.104', '162.103', '163.105',
       '163.115', '175.101', '224.101', '231.103', '241.105', '243.102',
       'E00001', '222.104', '411.108', '163.112', '163.102', '182.104',
       '241.113', '123.102', '163.101', '222.103', '141.106', '122.101',
       '123.103', '224.102', '121.102', '331.101', 'H001', 'D001',
       '43.44', '11.24', '25', '49', '43.39', '11.02', '11.26', '46',
       '48', '802', '36', '36.01', '55.03', '55.02', '19.03', '23.01',
       '17.01', '32.01', '17.05', '902', '55.01', '58', '53.01', '53.02',
       '53.03', '59', '61', '60', '64', '21', '16', '18', '15', '17',
       '19', '20', '24', '63', '17.04', '80', '66', '31', '30', '26',
       '34', '40', '55', '45.01', '44', '42.03', '42.01', '53', '41.01',
       '111275', '111284', '342.101.', '111292', '111000', '152101',
       '156101', '112100', '175105', '121.101', '141.102', '224.103',
       '223.101', '222.105', '224.107', '54', '45.04', '50', '0001604',
       '0001605', '0001610', '0001606', '152296', '321103', '122.103',
       '123.104', '341.102', '133.107', '231.106', '141.104', '211.104',
       '134.101', '223.106', '222.109', '55.04', '45.03', '41.02',
       '341335', 'B172.101', '321273', 'B175.102', 'B222.101', 'B222.105',
       'B172.102', 'B163.113', 'B224.101', '42.02', '0001600', '411294',
       '331267', '341336', '341337'], dtype=object)

In [12]:
# 군사특기명
df['gsteukgiNm'].unique()

array(['기관', '일반', '조리', '동반_군사경찰', '(2함대)일반', '(2함대)기관', '(1함대)조리',
       '(1함대)기관', '(2함대)조리', '(1함대)일반', '군사과학기술병', '지식재산관리병', '기독교군종병',
       '천주교군종병', '불교군종병', '정보보호병', '특임군사경찰', '동반입대병', '발칸운용/정비',
       '무선전송장비운용/정비', '이동통신장비운용/정비', 'MW운용/정비', '전술C4I운용/정비', '탄약관리',
       '장비수리부속공구보급', '수송운용(차량운전)', '항만운용', '군사경찰', 'K-9자주포조종', 'K239포병',
       '포병레이더', '비호운용/정비', '휴대용유도무기운용/정비', '공기압축기운용', '위성운용/정비', '화생방제독',
       '로켓무기정비', '화포정비', '차량부대정비', '야전건설(중졸)', '견인차량운전(중졸)', '차량부대정비(중졸)',
       '선박운용(중졸)', '전문약제', 'M/A포병', '소방장비', '발전기운용/정비', '영현등록',
       'K-53계열차량운전', '용접/기계공작(중졸)', '전문간호', '전문방사선촬영', '사격지휘', '감시장비운용',
       '크레인운용', '굴착기운용', '연막', '총기정비', '용접/기계공작', '전장이동통제', '일반의무',
       '전문치과', '천호운용/정비', '전기설비', '화생방', '무선장비정비', '수의', '신호정보/전자전운용',
       '장갑차조종', '방공레이더운용/정비', '군사정보', '도하장비조종', '교환시설운용/정비', '레이다운용/정비',
       '정보체계운용/정비', '항공운항/관제', '견인차량운전', '차륜형장갑차운전', '전기설비(중졸)',
       '지게차운전(중졸)', '구난차량운전(중졸)', '전문임상병리', 'K-55자주포조종', 'K-55자주포정비',
       '전술통신장비운용/정비', '화생방장비정비', '편성보급', '구난차량운전', '굴착기운용(중졸)', '조리(중졸)',
       '수송운용(중졸)', '전문물리치료', '땅굴탐지', '야전건설', '배관/기계설비', '정수장비운용',
       '공병장비부대정비', '네트워크운용/정비', '차량정비', '지원보급', '지게차운전', '선박운용',
       '국군체육특기병', '감시장비정비', '의무보급', '로더운전', '다목적굴착기운전', '기동헬기운용',
       '크레인차량운전', '장갑차부대정비', '장갑전투도저운전', '광학기재정비', '천마운용/정비', 'K계열전차부대정비',
       'K-21보병전투차량승무', '공병장비정비', 'M계열전차승무', '재정회계', '연고지복무병',
       '직계가족복무부대지원입대병', '전기', '항공', '통신', '의무', '전산', '전자', '건축/토목', '수송',
       '동반_갑판', '군악병', '문화홍보병', '어학병_중국어', '어학병_일본어', '공병', '무기정비', '화학',
       '유급_기관.기체', '어학병_영어', '전문정보병', '군종병_기독교', '군종병_천주교', '군종병_불교',
       'CBT병', '전문의무병', '위생관리병', '통신전자전기', '기계', '전자계산', '차량운전', '의장병',
       '빅데이터분석병', '수색', '특수임무군사경찰', '어학병', '군견관리병', '정훈병', '무인항공기운용병',
       '교육훈련_3D모델링', '전문자격의무병', '비파괴검사병', '식별보조_러시아어', '식별보조_중국어', '조리병',
       '콘텐츠_그래픽디자인', '유해발굴기록병', '군악', '훈련소조교병', 'JSA경비병', '드론운용/정비병',
       '특전병', 'SW개발병', 'K계열전차승무', '오리콘운용/정비', '발전기정비', '유선장비정비', '전차정비',
       '의무장비정비', 'IT개발관리병', '교육훈련_영상/사진', '운항관리병', '일본어어학병', '중국어어학병',
       '아랍어어학병', '러시아어어학병', '탐지분석병', 'MC군사경찰', 'M계열전차부대정비',
       'K-21보병전투차량부대정비', '영상제작', '포병측지', '물자근무지원', '방공작전통제', '화생방정찰',
       '현무포병', '특수통신장비정비', '통번역병', '자주포야전정비', '어학병_러시아어', '교육훈련_디자인',
       '콘텐츠_영상촬영편집', '영상콘텐츠디자이너병', '(임기제)MW운용/정비', '33경호병',
       '(임기제)전술C4I운용/정비', '(임기제)총기정비', '(임기제)전차정비', '(임기제)위성운용/정비',
       '(임기제)굴착기운용', '(임기제)차량정비', '식별보조_일본어', '영어어학병', '유해발굴감식병',
       '회계원가비용분석병', '그래픽디자이너병', '사진콘텐츠디자이너병'], dtype=object)

In [13]:
# '군구분코드명'
df['gunGbnm'].unique()

array(['해군', '육군', '해병', '공군'], dtype=object)

In [14]:
df.groupby('iybudaeCdm')['gunGbnm'].count()

iybudaeCdm
12사단         15
15사단         15
21사단         15
28사단         16
36사단          5
3사단          20
51사단         10
55사단         10
5사단          20
6사단          20
7사단          15
공군교육사령부      91
육군훈련소       442
해군교육사령부     215
해병대교육훈련단     55
Name: gunGbnm, dtype: int64

In [15]:
df['iyyjsijakYm'] = pd.to_datetime(df['iyyjsijakYm'], format=('%Y%m'))
df['month'] = df['iyyjsijakYm'].dt.month

a = df.groupby(['month','iybudaeCdm'])['gunGbnm'].count()
pd.DataFrame(a)

                  gunGbnm
month iybudaeCdm
5     12사단              3
      15사단              3
      21사단              3
      28사단              4
      36사단              1
...                   ...
9     육군훈련소            86
      해군교육사령부          33
      해병대교육훈련단          9
10    육군훈련소             4
11    육군훈련소             1

[75 rows x 1 columns]

In [16]:
# '입영부대명'
df['iybudaeCdm'].unique()

array(['해군교육사령부', '육군훈련소', '12사단', '7사단', '6사단', '5사단', '28사단', '55사단',
       '51사단', '3사단', '15사단', '21사단', '36사단', '해병대교육훈련단', '공군교육사령부'],
      dtype=object)

In [17]:
df.groupby('iybudaeCdm')['gunGbnm'].count()

iybudaeCdm
12사단         15
15사단         15
21사단         15
28사단         16
36사단          5
3사단          20
51사단         10
55사단         10
5사단          20
6사단          20
7사단          15
공군교육사령부      91
육군훈련소       442
해군교육사령부     215
해병대교육훈련단     55
Name: gunGbnm, dtype: int64

In [18]:
# '입영종료월'
df['iyyjjongryoYm'].unique()

array([202405, 202406, 202408, 202407, 202410, 202411, 202409, 202505,
       202412, 202707], dtype=int64)

In [19]:
# '입영시작월'
df['iyyjsijakYm'].unique()

<DatetimeArray>
['2024-05-01 00:00:00', '2024-06-01 00:00:00', '2024-07-01 00:00:00',
 '2024-09-01 00:00:00', '2024-11-01 00:00:00', '2024-08-01 00:00:00',
 '2025-05-01 00:00:00', '2024-10-01 00:00:00']
Length: 8, dtype: datetime64[ns]

In [20]:
# '접수종료일자'
df['jeopsuJrdtm'].unique()

array([20240227, 20240306, 20240403, 20240404, 20240409, 20240605,
       20240604, 20240205, 20240206, 20240422, 20240419, 20240103,
       20240508, 20240207, 20240507, 20240516, 20240305, 20240524,
       20240522, 20240603, 20240126, 20240214], dtype=int64)

In [21]:
# '접수인원수'
list(df.groupby('gunGbnm')['jeopsuPcnt'].sum())

[25962, 58078, 7611, 7307]

In [22]:
# '접수인원수'
df['jeopsuPcnt'].unique()

array([  59,  601,   62,   78,    8,    9,   10,   82,    7,    1,   60,
         18,   16,   48,  344,  172,  166,  233,  206,  124,  264,  103,
         77,  122,   34, 2234,  313,  243,   21,  212,   47,   23,    3,
         88,  205,    5,   50,    2,  327,    0,   41,    4,   40,   19,
         26,   36,   25,   67,  115,  317,  102, 1229,   46,   31,   37,
         92,  176,   89,   11,   58,    6,  477,   84,  364,  222,   20,
         12,   15,   52,   65,   91,   86,   93,   17,   53,   81,   13,
         63,   27,  597,  192,  422,  398,  459,  390,  194,  196,  799,
         43,   61,   74,   44,   68,  735,  585,   56,   29,   42,   28,
        342,   14,   38,   49,   54,  407,   98,  220,  239, 4034,  409,
        199,  106, 1125,   24,  288, 1381,   66,  146,  256,  599, 1886,
        207,  112, 6205,   85, 1105,   51,  175,  396,  116,  142,  380,
        133,  227,  114,  110,  333,  141,  499,  224,  583,  450,   45,
        306,  187,   83,  104,  148,   32,  721,  117,  436,  279,  357,
         80,  445,  156,  271,  262,  365,  711,   30, 3875,  284,  958,
         33,   64,  246,  286,  180,   70,  326,  624,  128,  134,  235,
        121,  169, 1326,  743,  226,   39,  107,  137,   76,  263,  260,
        139,  338,  100,  173,   99,   35,  896,  164,  414,  120,  144,
        136,  250,  334,  314,  358,  366,   55,  292,   57,  119,  331,
        351,   95,  214,  208,  125, 2323,  241,  167,  189,  564,  354,
       1181,   69,  305,  416,   22,  219,  229,  385,  190,  113, 4360,
       1522,  131,  804,  188,  269,  266,  379,  183,  154,  157,  238,
        293,  876,  170,  197,  276,  130,  248], dtype=int64)

In [23]:
# '접수시작일'
df['jeopsuSjdtm'].unique()

array([20240220, 20240229, 20240327, 20240328, 20240405, 20240530,
       20240531, 20240528, 20240129, 20240130, 20240411, 20240101,
       20240430, 20240201, 20240429, 20240501, 20240509, 20240228,
       20240227, 20240513, 20240516, 20240527, 20240125, 20240213],
      dtype=int64)

In [24]:
# '모집구분명'
df['mojipGbnm'].unique()

array(['일반기술/전문기술병', '동반입대병', '복무지역선택병', '전문특기병', '기술행정병', '연고지복무병',
       '직계가족병', '군악병', '문화홍보병', '어학병', '임기제부사관', '전문정보병', '군종병', '정보보호병',
       'CBT병', '전문의무병', '위생관리병', '일반기술/전문기술병(전문화관리병포함)', '의장병', '빅데이터분석병',
       '특수임무군사경찰', '군견관리병', '정훈병', '무인항공기운용병', '교육훈련매체개발병', '전문자격의무병',
       '비파괴검사병', '식별보조병', '조리병', '콘텐츠제작병', 'IT개발관리병', '운항관리병', '통번역병'],
      dtype=object)

In [25]:
# '모집회차'
df['mojipTms'].unique()

array([102,  18,  19,  20,  21,  22,  23,  24,   4, 202,  60,  61,   6,
         2, 103, 992,   5,   9,  10,  11,  12,  13,  14,  15,  16,  17,
         7,   8,  42,  43,  44,  45,  47,  48,  46, 203,   3, 104,  49,
        50,  51,  52,  53,  54,  55,  56,  57,  58,  59,  25, 993,  29,
        26,  27,  28,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41], dtype=int64)

In [26]:
# '모집년도'
df['mojipYy'].unique()

array([2024, 2023], dtype=int64)

In [27]:
# '지원률'
df['rate'].unique()

array([ 2. ,  6. ,  2.1,  6.2,  1.6,  0.8,  0.9,  1. ,  0.4,  1.4,  1.5,
        1.3,  1.8,  3.8,  1.7,  2.3,  2.7,  1.1,  2.8,  4.9,  2.6,  2.5,
        4.3,  5.3,  1.2,  0.7,  2.9, 10.8,  0.6,  1.9,  4.5, 11.3,  0. ,
        5.9,  4. ,  4.8,  6.8,  8.7,  0.3,  8.4,  3. , 40. , 10.2,  7.3,
        6.6,  8. ,  5.1, 48. ,  3.9,  2.2, 10.4,  3.3,  3.7,  0.5,  5.6,
       15. , 34. ,  3.5,  5. ,  9.1,  5.7,  6.3,  2.4,  3.4,  4.1, 10.6,
       11.5,  4.2,  7.5,  3.6,  4.4,  3.1,  0.2,  0.1,  4.6, 17.7,  4.7,
       14.6, 11.8,  7.1,  5.2, 28. , 12.5, 10.3,  9. , 11. , 25. , 10.9,
       23. , 10. ,  7.4, 10.5, 15.5, 45. ,  6.4,  8.9, 30. , 14.1,  5.5,
       23.4,  5.8, 11.6,  6.7,  7. ,  3.2,  9.3, 43. , 31. ,  6.1,  8.3,
        9.9, 12. ,  8.2,  5.4, 16.4, 26. ,  9.5,  6.5, 36.6, 30.8, 31.4,
       22.5, 16. ,  8.8, 13. ,  6.9,  7.7])

In [28]:
# '데이터번호'
df['rnum'].unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507,
       508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520,
       521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533,
       534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546,
       547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559,
       560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572,
       573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585,
       586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598,
       599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611,
       612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624,
       625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637,
       638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650,
       651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663,
       664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676,
       677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689,
       690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702,
       703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715,
       716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728,
       729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741,
       742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754,
       755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767,
       768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780,
       781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793,
       794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806,
       807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819,
       820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832,
       833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845,
       846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858,
       859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871,
       872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884,
       885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897,
       898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910,
       911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923,
       924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936,
       937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949,
       950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962,
       963, 964], dtype=int64)

In [29]:
# '선발인원수'
df['seonbalPcnt'].unique()

array([  30,  100,   10,   50,   20,    1,   44,   12,   26,   91,   98,
         92,   76,  117,   95,   21,   56,  123,   13, 1591,  124,    4,
        164,   38,   34,    3,   19,    9,   41,   27,    2,   29,   28,
         15,    7,    6,    5,  125,  201,    8,   31,   14,  185,   17,
         42,   25,   49,  358,   39,  248,  126,   18,   70,   11,  199,
         87,   43,   71,   97,   82,   40,  176,   46,   62,  223, 1400,
         79,   22,   24,   58,   37,   16,  144,   48,   80,  194,   66,
         32,  588,   73,  165,   53,  150,  200,   96,  871,  297,  184,
        240,  195,  808,   54,  106,  147,  160, 1082,  373,  129,   60,
        122,   86,  188,  198,   89,  251,  168,  114,   75,   36,  179,
       1117,  180,  264,   78,   84,   52,  734,  105,  934,  112,  178,
         23,   88,   51,  108,  202,  809,  352,   90,  140,  256,  236,
         63,  141,  146,  811,   35,  118,  267,  116,  453,  131,   94,
        130,   64,  155,  622,  103,  768,  246,  259,  138,   45,  930,
        121,  323,  335,   47], dtype=int64)